**Plan**

**1. Working with SQLite, MySQL, or PostgreSQL**

**2. Object-Relational Mapping (ORM)**

# **1. Working with SQLite, MySQL, or PostgreSQL**

**<center><font size="+2">SQLite</center></font>**

SQLite is a relational database management system (RDBMS) that is lightweight, self-contained, serverless, and open-source. It is often referred to as an embedded database because it is designed to be embedded into applications rather than running as a separate server process. SQLite databases are stored as single disk files, making them highly portable and suitable for use in a wide range of applications, from mobile apps to desktop software and embedded systems.

Key features of SQLite include:

1. **Self-contained**: SQLite is self-contained, meaning the entire database engine is implemented in a single library file that can be statically linked with applications. This makes it easy to include SQLite in projects without additional dependencies.

2. **Serverless**: Unlike traditional client-server database management systems like MySQL or PostgreSQL, SQLite operates as a serverless database engine. It directly reads and writes to the disk file without the need for a separate server process.

3. **Transactional**: SQLite supports ACID (Atomicity, Consistency, Isolation, Durability) transactions, allowing multiple operations to be grouped together as a single unit of work. This ensures data integrity and reliability.

4. **Cross-platform**: SQLite is cross-platform and runs on various operating systems, including Windows, macOS, Linux, and mobile platforms like iOS and Android.

5. **Zero Configuration**: SQLite requires minimal configuration and administration. There is no need to set up users, permissions, or databases. Simply open a connection to a database file, and SQLite handles the rest.

6. **SQL Support**: SQLite supports a subset of the SQL language, including common SQL features such as SELECT, INSERT, UPDATE, DELETE, and JOIN operations. It also supports data types, indexes, and constraints.

7. **Embeddable**: SQLite is designed to be embedded into applications, making it suitable for scenarios where a standalone database server is not required or feasible. It is widely used in software development for local storage, caching, and data exchange.

Overall, SQLite is a versatile and reliable database engine that provides a lightweight and efficient solution for managing structured data in various types of applications. Its simplicity, portability, and performance make it a popular choice for developers across different platforms and industries.

Table: employees

| id | name       | age | department    |
|----|------------|-----|---------------|
| 1  | John Doe   | 40  | HR            |
| 2  | Jane Smith | 35  | Engineering   |

In [2]:
# import sqlite3
import sqlite3

In [3]:
# Connect to SQLite database (creates a new database if it doesn't exist)
conn = sqlite3.connect('example.db')

In [4]:
# Create a cursor object to interact with the database
cur = conn.cursor()

In [5]:
# Create a table
cur.execute('''CREATE TABLE IF NOT EXISTS employees (
                id INTEGER PRIMARY KEY,
                name TEXT NOT NULL,
                age INTEGER,
                department TEXT
            )''')

In [6]:
# Insert data into the table
cur.execute("INSERT INTO employees (name, age, department) VALUES (?, ?, ?)", ('John Doe', 30, 'HR'))
cur.execute("INSERT INTO employees (name, age, department) VALUES (?, ?, ?)", ('Jane Smith', 35, 'Engineering'))

In [7]:
# Save (commit) the changes
conn.commit()

In [8]:
# Retrieve and display data from the table (list of tuple)
cur.execute("SELECT * FROM employees")
print("Employee data:")
for row in cur.fetchall():
    print(row)

Employee data:
(1, 'John Doe', 30, 'HR')
(2, 'Jane Smith', 35, 'Engineering')

In [10]:
# Update data in the table
cur.execute("UPDATE employees SET age = ? WHERE name = ?", (40, 'John Doe'))
conn.commit()

In [11]:
# Retrieve and display data from the table (list of tuple)
cur.execute("SELECT * FROM employees")
print("Employee data:")
for row in cur.fetchall():
    print(row)

Employee data:
(1, 'John Doe', 40, 'HR')
(2, 'Jane Smith', 35, 'Engineering')

In [12]:
# Delete data from the table
cur.execute("DELETE FROM employees WHERE name = ?", ('Jane Smith',))
conn.commit()

In [13]:
# Retrieve and display data from the table (list of tuple)
cur.execute("SELECT * FROM employees")
print("Employee data:")
for row in cur.fetchall():
    print(row)

Employee data:
(1, 'John Doe', 40, 'HR')

In [14]:
# Close the cursor and connection
cur.close()
conn.close()

**<center><font size="+2">MySQL</center></font>**

MySQL is an open-source relational database management system (RDBMS) that is widely used for managing and storing structured data. It is developed, distributed, and supported by Oracle Corporation. MySQL is one of the most popular database systems in the world, known for its reliability, scalability, and ease of use.

Key features of MySQL include:

1. **Relational Database**: MySQL follows the relational model and organizes data into tables consisting of rows and columns. It supports SQL (Structured Query Language) for querying and manipulating data.

2. **Client-Server Architecture**: MySQL uses a client-server architecture where multiple client applications can connect to a MySQL server simultaneously over a network. The server manages database operations and provides access to data.

3. **Cross-platform**: MySQL is cross-platform and runs on various operating systems, including Windows, macOS, Linux, and various Unix variants. This allows it to be deployed in diverse environments.

4. **Scalability**: MySQL supports scalability through features like replication, clustering, and partitioning. It can handle large volumes of data and high concurrent user traffic, making it suitable for both small-scale and enterprise-level applications.

5. **High Performance**: MySQL is optimized for performance and can efficiently execute queries and transactions. It includes features like indexing, caching, and query optimization to improve performance.

6. **Security**: MySQL provides robust security features to protect data, including user authentication, access control, encryption, and SSL/TLS support for secure connections.

7. **Community and Enterprise Editions**: MySQL is available in two editions: Community Edition (open-source) and Enterprise Edition (commercial). The Community Edition is free to use and is supported by a large community of developers, while the Enterprise Edition includes additional features and commercial support.

8. **Storage Engines**: MySQL supports multiple storage engines, including InnoDB (the default), MyISAM, and others. Each storage engine has its own characteristics and is optimized for different use cases.

9. **Replication and High Availability**: MySQL supports replication, allowing data to be copied across multiple servers for fault tolerance and scalability. It also offers features for high availability, such as automatic failover and clustering.

Overall, MySQL is a powerful and versatile database system that is widely used in web development, e-commerce, content management systems, data warehousing, and many other applications. Its combination of performance, scalability, and ease of use makes it a popular choice for developers and organizations worldwide.

In [ ]:
! pip install mysql-connector-python

In [ ]:
import mysql.connector

# Connect to MySQL database
conn = mysql.connector.connect(
    host="localhost",
    user="your_username",
    password="your_password",
    database="your_database"
)

# Create a cursor object to interact with the database
cur = conn.cursor()

# Create a table
cur.execute('''CREATE TABLE IF NOT EXISTS employees (
                id INT AUTO_INCREMENT PRIMARY KEY,
                name VARCHAR(255) NOT NULL,
                age INT,
                department VARCHAR(255)
            )''')

# Insert data into the table
cur.execute("INSERT INTO employees (name, age, department) VALUES (%s, %s, %s)", ('John Doe', 30, 'HR'))
cur.execute("INSERT INTO employees (name, age, department) VALUES (%s, %s, %s)", ('Jane Smith', 35, 'Engineering'))

# Commit the transaction
conn.commit()

# Retrieve and display data from the table
cur.execute("SELECT * FROM employees")
print("Employee data:")
for row in cur.fetchall():
    print(row)

# Close the cursor and connection
cur.close()
conn.close()

**<center><font size="+2">PostgreSQL</center></font>**

PostgreSQL, often referred to as Postgres, is an open-source relational database management system (RDBMS) known for its advanced features, extensibility, and reliability. It is developed and maintained by the PostgreSQL Global Development Group.

Here's a concise definition of PostgreSQL:

"PostgreSQL is an open-source relational database management system (RDBMS) that provides robust support for SQL queries, data integrity, concurrency control, and extensibility. It offers advanced features such as ACID compliance, full-text search, JSON support, and support for geospatial data types, making it suitable for a wide range of applications."

Key features of PostgreSQL include:

1. **ACID Compliance**: PostgreSQL ensures Atomicity, Consistency, Isolation, and Durability (ACID properties) for transactions, ensuring data integrity and reliability.

2. **SQL Support**: PostgreSQL supports the SQL language and provides extensive support for SQL queries, data manipulation, and schema definition.

3. **Extensibility**: PostgreSQL is highly extensible, allowing users to define custom data types, functions, and extensions using various programming languages such as PL/pgSQL, PL/Python, PL/Perl, and others.

4. **Advanced Data Types**: PostgreSQL supports advanced data types such as JSON, XML, arrays, hstore, and geospatial data types (e.g., Point, LineString, Polygon) for storing and querying complex data.

5. **Concurrency Control**: PostgreSQL provides robust concurrency control mechanisms, including Multi-Version Concurrency Control (MVCC), to ensure data consistency and enable high concurrency in multi-user environments.

6. **Indexing**: PostgreSQL supports various types of indexes, including B-tree, Hash, GiST, GIN, and BRIN indexes, for efficient data retrieval and query optimization.

7. **Full-Text Search**: PostgreSQL includes full-text search capabilities, allowing users to perform advanced search operations on textual data stored in the database.

8. **Replication**: PostgreSQL supports various replication methods, including asynchronous replication, synchronous replication, and logical replication, for creating scalable and fault-tolerant database clusters.

9. **Security**: PostgreSQL provides robust security features, including authentication mechanisms, access control, SSL/TLS support, and data encryption, to protect sensitive data.

10. **Community and Ecosystem**: PostgreSQL has a vibrant community of developers, contributors, and users who actively contribute to its development and provide support through mailing lists, forums, and conferences. Additionally, PostgreSQL has a rich ecosystem of third-party tools, libraries, and extensions that extend its functionality.

Overall, PostgreSQL is a powerful and feature-rich relational database management system that is widely used in various industries, including finance, healthcare, e-commerce, and government, for storing, querying, and managing structured data.

In [ ]:
! pip install psycopg2-binary

In [ ]:
import psycopg2

# Connect to PostgreSQL database
conn = psycopg2.connect(
    dbname="your_database",
    user="your_username",
    password="your_password",
    host="localhost",
    port="5432"
)

# Create a cursor object to interact with the database
cur = conn.cursor()

# Create a table
cur.execute('''CREATE TABLE IF NOT EXISTS employees (
                id SERIAL PRIMARY KEY,
                name VARCHAR(255) NOT NULL,
                age INT,
                department VARCHAR(255)
            )''')

# Insert data into the table
cur.execute("INSERT INTO employees (name, age, department) VALUES (%s, %s, %s)", ('John Doe', 30, 'HR'))
cur.execute("INSERT INTO employees (name, age, department) VALUES (%s, %s, %s)", ('Jane Smith', 35, 'Engineering'))

# Commit the transaction
conn.commit()

# Retrieve and display data from the table
cur.execute("SELECT * FROM employees")
print("Employee data:")
for row in cur.fetchall():
    print(row)

# Close the cursor and connection
cur.close()
conn.close()

# **2. Object-Relational Mapping (ORM)**

Object-Relational Mapping (ORM) is a programming technique that enables developers to map object-oriented models to relational database tables. It provides a high-level abstraction layer that allows developers to work with database objects using the syntax and semantics of object-oriented programming languages, such as Python, Java, or C#. ORM frameworks automate the process of translating data between the database and the application's object model, eliminating the need for developers to write low-level SQL queries manually.

Key components of ORM include:

1. **Object-Relational Mapping**: ORM frameworks map database tables to classes and database rows to objects. Each class represents a table in the database, and each instance of the class represents a row in that table. Attributes of the class correspond to columns in the table.

2. **Transparent Persistence**: ORM frameworks handle the persistence of objects to the database transparently, automatically generating SQL statements to insert, update, delete, and query data. Developers can manipulate objects in memory without having to worry about the underlying database operations.

3. **Query Language**: ORM frameworks provide a query language that allows developers to express database queries using object-oriented syntax. This query language is usually more expressive and concise than raw SQL, making it easier to work with complex data structures.

4. **Relationship Mapping**: ORM frameworks support defining relationships between classes, such as one-to-one, one-to-many, and many-to-many relationships. These relationships are translated into foreign key constraints in the database schema.

5. **Lazy Loading and Eager Loading**: ORM frameworks provide mechanisms for loading related objects lazily or eagerly, optimizing performance and minimizing database queries.

6. **Transaction Management**: ORM frameworks often include features for managing database transactions, ensuring data consistency and integrity. Developers can commit or rollback transactions programmatically.

Popular ORM frameworks include SQLAlchemy for Python, Hibernate for Java, Entity Framework for .NET, and Django ORM for Python Django web framework.

ORM simplifies database interactions by abstracting away the complexities of relational databases and allowing developers to focus on writing application logic rather than dealing with low-level database operations. It promotes code reuse, maintainability, and portability by providing a unified interface for working with databases across different platforms and environments.

In [18]:
from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

In [41]:
# Create an SQLite in-memory database engine with a specific name
db_name = 'example.db'
engine = create_engine(f'sqlite:///{db_name}', echo=True)

In [42]:
# Create a base class for declarative ORM models
Base = declarative_base()

<ipython-input-42-03925acb9590>:2: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [43]:
# Define a database model representing a User
class User(Base):
    __tablename__ = 'users'
    id = Column(Integer, primary_key=True)
    name = Column(String)
    age = Column(Integer)
    department = Column(String)

In [44]:
# Create all defined tables in the database
Base.metadata.create_all(engine)

2024-02-16 10:31:57,594 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2024-02-16 10:31:57,598 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("users")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("users")

2024-02-16 10:31:57,601 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-02-16 10:31:57,605 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("users")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.table_info("users")

2024-02-16 10:31:57,610 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-02-16 10:31:57,613 INFO sqlalchemy.engine.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR,
	age INTEGER,
	department VARCHAR,
	PRIMARY KEY (id)
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR,
	age INTEGER,
	department VARCHAR,
	PRIMARY KEY (id)
)

2024-02-16 10:31:57,615 INFO sqlalchemy.engine.Engine [no key 0.00240s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00240s] ()

2024-02-16 10:31:57,631 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

In [45]:
# Create a sessionmaker bound to the engine
Session = sessionmaker(bind=engine)

In [46]:
# Create a session
session = Session()

In [47]:
# Create and add users to the database
user1 = User(name='John Doe', age=30, department='HR')
user2 = User(name='Jane Smith', age=35, department='Engineering')
session.add(user1)
session.add(user2)
session.commit()

2024-02-16 10:32:02,753 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2024-02-16 10:32:02,765 INFO sqlalchemy.engine.Engine INSERT INTO users (name, age, department) VALUES (?, ?, ?) RETURNING id

INFO:sqlalchemy.engine.Engine:INSERT INTO users (name, age, department) VALUES (?, ?, ?) RETURNING id

2024-02-16 10:32:02,769 INFO sqlalchemy.engine.Engine [generated in 0.00021s (insertmanyvalues) 1/2 (ordered; batch not supported)] ('John Doe', 30, 'HR')

INFO:sqlalchemy.engine.Engine:[generated in 0.00021s (insertmanyvalues) 1/2 (ordered; batch not supported)] ('John Doe', 30, 'HR')

2024-02-16 10:32:02,774 INFO sqlalchemy.engine.Engine INSERT INTO users (name, age, department) VALUES (?, ?, ?) RETURNING id

INFO:sqlalchemy.engine.Engine:INSERT INTO users (name, age, department) VALUES (?, ?, ?) RETURNING id

2024-02-16 10:32:02,777 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/2 (ordered; batch not supported)] ('Jane Smith', 35, 'Engineering')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 2/2 (ordered; batch not supported)] ('Jane Smith', 35, 'Engineering')

2024-02-16 10:32:02,781 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

In [48]:
# Query all users
print("All users:")
users = session.query(User).all()
for user in users:
    print(user.id, user.name, user.age, user.department)

All users:
2024-02-16 10:32:05,719 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2024-02-16 10:32:05,725 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.age AS users_age, users.department AS users_department
FROM users

INFO:sqlalchemy.engine.Engine:SELECT users.id AS users_id, users.name AS users_name, users.age AS users_age, users.department AS users_department
FROM users

2024-02-16 10:32:05,728 INFO sqlalchemy.engine.Engine [generated in 0.00378s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.00378s] ()

1 John Doe 30 HR
2 Jane Smith 35 Engineering

In [49]:
# Query all users
print("All users:")
users = session.query(User).all()
for user in users:
    print(user.id, user.name, user.age, user.department)

All users:
2024-02-16 10:32:08,059 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.age AS users_age, users.department AS users_department
FROM users

INFO:sqlalchemy.engine.Engine:SELECT users.id AS users_id, users.name AS users_name, users.age AS users_age, users.department AS users_department
FROM users

2024-02-16 10:32:08,063 INFO sqlalchemy.engine.Engine [cached since 2.338s ago] ()

INFO:sqlalchemy.engine.Engine:[cached since 2.338s ago] ()

1 John Doe 30 HR
2 Jane Smith 35 Engineering

In [50]:
# Update a user's age
user1.age = 40
session.commit()

2024-02-16 10:32:11,206 INFO sqlalchemy.engine.Engine UPDATE users SET age=? WHERE users.id = ?

INFO:sqlalchemy.engine.Engine:UPDATE users SET age=? WHERE users.id = ?

2024-02-16 10:32:11,209 INFO sqlalchemy.engine.Engine [generated in 0.00322s] (40, 1)

INFO:sqlalchemy.engine.Engine:[generated in 0.00322s] (40, 1)

2024-02-16 10:32:11,216 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

In [51]:
# Query all users
print("All users:")
users = session.query(User).all()
for user in users:
    print(user.id, user.name, user.age, user.department)

All users:
2024-02-16 10:32:12,231 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2024-02-16 10:32:12,236 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.age AS users_age, users.department AS users_department
FROM users

INFO:sqlalchemy.engine.Engine:SELECT users.id AS users_id, users.name AS users_name, users.age AS users_age, users.department AS users_department
FROM users

2024-02-16 10:32:12,241 INFO sqlalchemy.engine.Engine [cached since 6.517s ago] ()

INFO:sqlalchemy.engine.Engine:[cached since 6.517s ago] ()

1 John Doe 40 HR
2 Jane Smith 35 Engineering

In [52]:
# Query users with age greater than 35
print("Users with age greater than 35:")
users = session.query(User).filter(User.age > 35).all()
for user in users:
    print(user.id, user.name, user.age, user.department)

Users with age greater than 35:
2024-02-16 10:32:15,037 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.age AS users_age, users.department AS users_department
FROM users
WHERE users.age > ?

INFO:sqlalchemy.engine.Engine:SELECT users.id AS users_id, users.name AS users_name, users.age AS users_age, users.department AS users_department
FROM users
WHERE users.age > ?

2024-02-16 10:32:15,041 INFO sqlalchemy.engine.Engine [generated in 0.00475s] (35,)

INFO:sqlalchemy.engine.Engine:[generated in 0.00475s] (35,)

1 John Doe 40 HR

In [53]:
# Delete a user
session.delete(user2)
session.commit()

2024-02-16 10:32:19,842 INFO sqlalchemy.engine.Engine DELETE FROM users WHERE users.id = ?

INFO:sqlalchemy.engine.Engine:DELETE FROM users WHERE users.id = ?

2024-02-16 10:32:19,845 INFO sqlalchemy.engine.Engine [generated in 0.00380s] (2,)

INFO:sqlalchemy.engine.Engine:[generated in 0.00380s] (2,)

2024-02-16 10:32:19,849 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

In [54]:
# Query all users
print("All users:")
users = session.query(User).all()
for user in users:
    print(user.id, user.name, user.age, user.department)

All users:
2024-02-16 10:32:23,050 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2024-02-16 10:32:23,057 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.age AS users_age, users.department AS users_department
FROM users

INFO:sqlalchemy.engine.Engine:SELECT users.id AS users_id, users.name AS users_name, users.age AS users_age, users.department AS users_department
FROM users

2024-02-16 10:32:23,060 INFO sqlalchemy.engine.Engine [cached since 17.33s ago] ()

INFO:sqlalchemy.engine.Engine:[cached since 17.33s ago] ()

1 John Doe 40 HR

In [55]:
# Close the session
session.close()

2024-02-16 10:32:26,634 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK

In [58]:
# Reopen the database and display all existing rows
session = Session()
existing_users = session.query(User).all()
print("Number of existing users:", len(existing_users))

# Close the session again
session.close()

# Try to access the objects from the closed session
# This will result in an error because the session is closed
try:
    print("Number of existing users:", len(existing_users))
except Exception as e:
    print("Error:", e)

2024-02-16 10:41:05,937 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2024-02-16 10:41:05,943 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.age AS users_age, users.department AS users_department
FROM users

INFO:sqlalchemy.engine.Engine:SELECT users.id AS users_id, users.name AS users_name, users.age AS users_age, users.department AS users_department
FROM users

2024-02-16 10:41:05,946 INFO sqlalchemy.engine.Engine [cached since 540.2s ago] ()

INFO:sqlalchemy.engine.Engine:[cached since 540.2s ago] ()

Number of existing users: 1
2024-02-16 10:41:05,950 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK

Number of existing users: 1